h1 { font-family: 'Pacifico', cursive;}

li a:hover {
    background-color: #63bacf;
    opacity: 80%;
} 

.text {   
    display: flex;
    justify-content: flex-start;
    float: left;
    width: fit-content;
    height: fit-content;
    margin: 20px;
    padding: 5px;
    border: 8px; 
    padding: 5px;
    }

.sr-only{
        color: black;
} 
.nav-link:hover {
    background-color: #63bacf;
} 
.col {
    display: flex;
    justify-content: space-between;
    width: fit-content;
}